
~$port AI Nâng cao.docx

*.docx#

*.pptx#

CSDLNangCao/.idea/

AI_NangCao/.idea/
AI_NangCao/DoAnCaiDat/Project/input/
AI_NangCao/DoAnCaiDat/Project/.idea
AI_NangCao/DoAnCaiDat/Project/numpy
AI_NangCao/DoAnCaiDat/Project/__pycache__
AI_NangCao/DoAnCaiDat/Project/venv
CSDLNangCao/~$seminar_slide.pptx


AI_NangCao/DoAnCaiDat/.idea/

CSDLNangCao/DoAnCaiDat/.idea/

HeThongMultimedia/.idea/

HeThongMultimedia/OpenCVTut/.idea/

HeThongMultimedia/OpenCVTut/venv/

MayHoc/.idea/
